<!-- <ng-template cxOutletRef="header" [cxOutletPos]="OutletPosition.BEFORE">
    Custom UI replacing the header
</ng-template>  -->

<!-- <ng-template cxOutletRef="header">
    Custom UI replacing the header
</ng-template>

<ng-template cxOutletRef="main">
    Custom UI replacing the header
</ng-template> -->

<cx-storefront></cx-storefront>
<!-- <ng-template [cxOut]></ng-template> -->

<ng-template cxOutletRef="SiteLogo">
  <img
    src="https://img.icons8.com/dotty/35/ffffff/shop-two.png"
    alt="New Brand Logo"
  />
</ng-template>
<ng-template
  cxOutletRef="FooterNavigationComponent"
  [cxOutletPos]="OutletPosition.AFTER"
>
  <div class="stickyicon-list">
    <a href="#facebook" class="facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com" class="twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#linkedin" class="linkedin">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="#google" class="google">
      <i class="fa fa-google"></i>
    </a>
    <a href="#instagram" class="instagram">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="#youtube" class="youtube">
      <i class="fa fa-youtube"></i>
    </a>
  </div>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</ng-template>
